{% block shipping_widget %}
    {% spaceless %}
        <div id="map" style="width: 700px; height: 500px"></div>
        {% block javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQgC-9GVPHTFOyrF_Ys-wrW988ttCHOOc&callback=initMap" async defer></script>

            <script>
                var address = document.getElementsByClassName('address');

                function initMap() {
                    var myLatLng = {lat: 42.872, lng: 74.588};

                    // Create a map object and specify the DOM element
                    // for display.
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: myLatLng,
                        zoom: 11
                    });

                    var marker;

                    google.maps.event.addListener(map, 'click', function(event) {

                        placeMarker(event.latLng);

                    });

                    function placeMarker(location) {

                        if (marker == null)
                        {

                            marker = new google.maps.Marker({
                                position: location,
                                map: map
                            });
                            $('.coordinate').val(location.lat()+","+location.lng());
                        } else {
                            marker.setPosition(location);
                            $('.coordinate').val(location.lat()+","+location.lng());
                        }

                    }
                }
            </script>
        {% endblock %}

    {% endspaceless %}
{% endblock %}