{% for review in reviews %}
    <div class="module-page-item">
        <div class="row">
            <div class="col-md-9">
                <p class="module-page-name">
                    <iframe width="350" height="250" src="https://www.youtube.com/embed/{{ review.link }}" frameborder="0"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </p>
            </div>
        </div>
    </div>
{% endfor %}


