{% if reviews == true %}

    <h3><a href="{{ path('app-dynamic-page', {'route':'review'}) }}">Отзывы</a></h3>
    <div class="review-slider">
        <div id="reviewSlider" class="carousel" data-interval="false">
            <div class="carousel-inner">
                {% for key, review in reviews %}
                    <div class="carousel-item {% if key == 0 %} active {% endif %}">
                        <div class="col-md-8 review-item">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/{{ review.link }}" frameborder="0"
                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#reviewSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#reviewSlider" role="button" data-slide="next"
               id="review-control-next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

{% endif %}