{%- block field -%}
    <a href="{{ admin.generateObjectUrl('sort', object) }}" class="btn btn-sm btn-default" id="qwerty" name="btn_update_and_list"><i class="fa fa-sort" aria-hidden="true"></i> Сортировать </a>
{% endblock %}