@font-face {

    font-family: 'ProximaNova';

    src: url('../vendor/fonts/ProximaNova-Regular.eot');
    src: url('../vendor/fonts/ProximaNova-Regular.eot?iefix') format('eot'),
    url('../vendor/fonts/ProximaNova-Regular.woff') format('woff'),
    url('../vendor/fonts/ProximaNova-Regular.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'ProximaNova';

    src: url('../vendor/fonts/ProximaNova-RegularIt.eot');

    src: url('../vendor/fonts/ProximaNova-RegularIt.eot?iefix') format('eot'),
    url('../vendor/fonts/ProximaNova-RegularIt.woff') format('woff'),
    url('../vendor/fonts/ProximaNova-RegularIt.ttf') format('truetype');

    font-weight: normal;

    font-style: italic;

}

html {
    position: relative;
    min-height: 100%;
}

body {
    border-top: 3px solid #ca1c49;
    font-family: 'ProximaNova', Arial, sans-serif;
}

.notice {
    margin: 20px;
    border: green 1px solid;
    color: green;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.error {
    margin: 20px;
    border: red 1px solid;
    color: red;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

a, a:hover, a:focus {
    text-decoration: none;
}

h3 {
    margin: 50px 0 30px 0;
    font-size: 24pt;
}

.sidebar-menu-title {
    margin: 38px 0 57px 0;
}

.profile_siderbar  .sidebar_profile{
    margin: 20px 15px;
}

header {
    padding: 25px 0 0 0;
    border-bottom: 3px solid #999999;
}

.logo{
    min-width: 300px;
}

.networks-block{
    min-width: 160px;
}

.login-block{
    min-width: 200px;
}

.search {
    padding-top: 15px;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 768px) {
    .nav-fill li.nav-item:first-child a.nav-link {
        padding-left: 0;
        text-align: left;
    }

    .nav-fill li.nav-item:last-child a.nav-link {
        padding-right: 0;
        text-align: right;
    }
}

nav a {
    text-transform: uppercase;
    font-size: 14pt;
    color: #6c6f71;
}

.header-right ul {
    margin: 20px 0 0 0;
    padding: 0;
    display: inline-block;
}

.networks ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.networks ul li {
    color: #000;
    font-size: 10px;
    line-height: 10px;
    list-style-image: none;
    padding: 0px;
}

.networks__item {
    display: inline-block;
}

.networks__item:last-child {
    margin-right: 0px;
}

.networks__link {
    display: block;
    padding: 10px 14px;
    background: url("../images/fb.png") no-repeat center 2px;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
}

.networks__link:hover {
    background-position: center -32px;
}

.login-button {
    overflow: hidden;
    display: block;
    padding-bottom: 2px;
    text-decoration: none;
    float: right;
}

.login-button:hover .login-link {
    border-bottom: 1px dotted #ad163d;
    color: #ad163d;
}

.login-button:hover .login-link_logged {
    color: #555;
    border-bottom: none;
}

.login-button:hover .login-exit {
    color: #ad163d;
}

.login-button:hover .login-img {
    background: url("../images/login.png") no-repeat -2px -16px;
}

.login-img {
    background: url("../images/login.png") no-repeat -2px 7px;
    padding: 5px 0px 5px 25px;
}

.login-link {
    color: #555;
    font-size: 12pt;
    border-bottom: 1px dotted #fff;
    margin-right: 5px;
}

.login-link_logged {
    border: none;
}

.login-exit,
.login-exit:visited {
    color: #555;
    font-size: 14px;
}

.sections img {
    width: 350px;
    height: 250px;
    max-width: 100%;
}

.reviews {
    padding-right: 40px;
}

.review-item, .videogallery-item {
    margin: 0;
    padding: 0;
}

.carousel-caption {
    top: 20px;
}

.carousel-caption h5 {
    font-size: 24pt;
    color: #f6c621;
    text-transform: uppercase;
}

.reviews .item {
    text-align: center;
}

.reviews img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

/**************************ReviewSliderOnMain****************************************/

@media (min-width: 768px) {
    /* show 3 items */
    #reviewsSlider .carousel-inner .active,
    #reviewsSlider .carousel-inner .active + .carousel-item,
    #reviewsSlider .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    #reviewsSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #reviewsSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #reviewsSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    #reviewsSlider .carousel-inner .carousel-item-next,
    #reviewsSlider .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    #reviewsSlider .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    #reviewsSlider .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #reviewsSlider .carousel-item-next.carousel-item-left + .carousel-item,
    #reviewsSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #reviewsSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    #reviewsSlider .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    #reviewsSlider .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #reviewsSlider .carousel-item-prev.carousel-item-right + .carousel-item,
    #reviewsSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #reviewsSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/************************************************************************************/

/**************************EventsSliderOnMain****************************************/

@media (min-width: 768px) {
    /* show 3 items */
    #eventsSlider .carousel-inner .active,
    #eventsSlider .carousel-inner .active + .carousel-item,
    #eventsSlider .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }

    #eventsSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #eventsSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #eventsSlider .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }

    #eventsSlider .carousel-inner .carousel-item-next,
    #eventsSlider .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    #eventsSlider .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    #eventsSlider .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #eventsSlider .carousel-item-next.carousel-item-left + .carousel-item,
    #eventsSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #eventsSlider .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    #eventsSlider .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    #eventsSlider .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #eventsSlider .carousel-item-prev.carousel-item-right + .carousel-item,
    #eventsSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #eventsSlider .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/************************************************************************************/

.trainers {
    margin-bottom: 30px;
}

.trainers img {
    max-width: 200px;
    height: auto;
    overflow: hidden;
}

.trainers .traner-info {
    height: 270px;
}

.trainers .carousel-item .description {
    margin-top: 20px;
}

.trainers .position {
    color: #999999;
}

.sidebar {
    background: url('../images/sidebar-bg.png');
    min-width: 280px;
}

.banner {
    padding: 0;
    margin-top: 50px;
}

.banner-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.b-sidebar-order__logo {
    text-align: center;
}

.b-sidebar-order__title {
    padding-bottom: 14px;
    color: #f6c621;
    font-size: 24pt;
    line-height: 22pt;
    font-weight: normal;
}

.b-sidebar-order__title_white {
    color: #fff;
    font-size: 24pt;
    line-height: 22pt;
    text-transform: uppercase;
    font-weight: normal;
    display: inline-block;
}

.b-sidebar-order__title_bold {
    color: #fff;
    font-size: 24pt;
    line-height: 22pt;
    text-transform: uppercase;
    font-weight: bold;
}

.b-sidebar-order__text {
    font-size: 14pt;
    color: #e8e8e8;
    padding-bottom: 19px;
    line-height: 24pt;
}

.b-sidebar-order__button {
    text-align: center;
}

.dispatch {
    background: url('../images/red-bg.png');
    margin: 50px 0;
    padding: 30px 10px;
    border: solid 3px #ca1c49;
    min-width: 250px;
}

.inner-page .dispatch {
    margin: 70px 0 80px 0;
}

.dispatch h5 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16pt;
    margin-bottom: 25px;
}

.dispatch input[type=text] {
    margin: 10px;
    background: #961335;
    color: #ffffff;
    box-shadow: 0 0 12px -6px #111 inset;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.dispatch input[type=text]::placeholder {
    color: #ffffff;
}

.dispatch input[type=text]:-ms-input-placeholder {
    color: #ffffff;
}

.dispatch input[type=text]:-ms-input-placeholder {
    color: #ffffff;
}

.yellow-button {
    margin: 10px 1px;
    padding: 10px 11px 7px 11px;
    background: #f6c621;
    border: none;
    border-bottom: 2px solid #dab01e;
    color: #000;
    font-size: 16px;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}


.green-button {
    margin: 10px 1px;
    padding: 10px 11px 7px 11px;
    background: #22a94d;
    border: none;
    border-bottom: 2px solid #189540;
    color: #FFF;
    font-size: 16px;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.sidebar-menu {
    padding-bottom: 30px;
    border-bottom: 1px solid #dfdfdf;
}

.schedule {
    background: url('../images/red-bg.png');
    padding: 50px 0;
    color: #ffffff;
}

.schedule h3 {
    color: #ffffff;
    margin: 0 0 30px 0;
}

.schedule .schedule-block {
    border-bottom: 3px solid #8e1534;
}

.day {
    font-size: 30pt;
    color: #f6c621;
    font-weight: bold;
    line-height: 24pt;
    display: inline-block;
}

.month-year {
    color: #fff;
    font-size: 11pt;
    line-height: 14pt;
    display: inline-block;
}

.schedule h5 {
    margin: 20px 0 0 0;
}

.schedule h5 a {
    color: #fff;
    font-size: 11pt;
    text-decoration: underline;
}

.schedule h5 a:hover {
    text-decoration: none;
}

.schedule p {
    font-size: 11pt;
}

.schedule .all-events {
    text-align: center;
    padding-top: 30px;
}

.schedule .all-events a {
    margin: 10px;
    padding: 10px 11px 7px 11px;
    background: #f6c621;
    border: none;
    border-bottom: 2px solid #dab01e;
    color: #000;
    font-size: 16px;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.item-page {
    padding-left: 40px;
    padding-bottom: 80px;
}

.purple {
    color: #ad163d;
}

.event-plan{
    border: none;
}

.event-plan .card-body{
    padding: 0;
}

footer {
    background: url('../images/footer-bg.png');
    width: 100%;
}

.footer-menu {
    padding: 15px 0;
    border-bottom: 3px solid #333333;
}

.footer-menu a {
    text-transform: uppercase;
    font-size: 12pt;
    color: #ffffff;
}

.bottom-info {
    padding: 20px 0 10px 0;
}

.bottom-networks {
    text-align: right;
}

.copyright {
    color: #ffffff;
}

@media (max-width: 768px) {

    .reviews {
        padding-right: 0;
    }

    .footer-menu .navbar {
        display: block;
    }

    .footer-menu .nav {
        display: block;
    }

    .footer-menu .nav li {
        margin-bottom: 10px;
    }

    .bottom-networks {
        text-align: left;
    }
}

.breadcrumbs {
    margin: 50px 0;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    list-style: none;
    display: inline;
}

.login-block ul li {
    list-style: none;
    display: inline;
}

.main-nav {
    white-space: nowrap;
    font-size: 14px;
}

.module-page-item {
    margin: 50px 0 50px 0;
    padding: 0 0 50px 0;
    border-bottom: 1px solid #CCCCCC;
}

.module-page-item .wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.module-page-item:last-child {
    border-bottom: none;
}

.module-page-date {
    font-size: 13px;
    color: #AAAAAA;
}

.module-page-category {
    font-size: 20px;
}

.b-contact-list__grey-text {
    color: #a5a5a5;
    font-size: 16px;
    line-height: 16px;
    padding-right: 10px;
    font-weight: bold;
    padding-bottom: 4px;
    padding-top: 4px;
}

.module-page-image {
    max-width: 170px;
    height: auto;
    text-align: center;
}

.module-page-title {
    font-size: 24px;
    text-decoration: underline;
}

.infowindow {
    width: 300px;
}

.module-page-name {
    font-size: 20px;
}

.branch {
    font-size: 20px;
    font-weight: bold
}

.contact_address {
    margin: 10px;
    font-weight: bold;
    line-height: 20px;
}

.contact_fax {
    margin: 10px;
    line-height: 10px;
}

.contact_phone {
    margin: 10px;
    line-height: 10px;
}

.module-page-description {
    font-size: 15px;
    color: #333333;
}

.module-single-item {
    padding: 0 0 0 40px;
}

.module-single-item .wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.module-single-image {
    max-width: 700px;
    height: auto;
}

.module-single-item h3 {
    margin: 40px 0 20px 0;
}

.module-single-date {
    font-size: 14px;
    color: #AAAAAA;
}

.module-single-description {
    margin: 20px 0 0 0;
}

.event-item {
    min-width: 300px;
    display: inline-block;
}

.event-head {
    width: 100%;
}

.event-right {
    float: right;
}

.event-month {
    color: #CCCCCC;
}

.event-content {
    display: inline-block;
}

.event-img {
    height: 150px;
    width: auto;
}

.event-date {
    display: inline-block;
}

.event-type {
    display: inline-block;
    background: #f8c549;
    color: #000000;
    padding: 3px 10px;
    margin: 3px 0 20px 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
}

.carousel-indicators li {
    position: relative;
    top: 50px;
}

.image_wrapper {
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.event-buttons-wrapper {
    text-align: center;
}

.event-buttons:hover {
    background: #ffffff;
    color: #000000;
}

.register-page {
    max-width: 600px;
    padding: 50px 0 100px 0;
    margin: 0 auto;
}

.register-page h1 {
    margin: 20px 0 50px 0;
}

.event-page-head .month-year {
    color: #ccc;
    margin: 20px 0 0 0;
    padding: 0;
    display: inline-block;
}

.event-page-item .wrapper {
    text-align: left;
}

.event-page-category {
    color: #333333;
    font-weight: bold;
    background: #f8c549;
    display: inline-block;
    padding: 7px 15px 7px 15px;
    margin: 0 10px 20px 0;
    font-size: 16px;
    text-transform: uppercase;
}

.event-page-item {
    margin: 50px 0 50px 0;
    padding: 0 0 50px 0;
    border-bottom: 1px solid #CCCCCC;
}

.event-page-item:last-child {
    border-bottom: none;
}

.event-page-booking {
    display: inline-block;
    margin: 20px 0 0 5px;
    vertical-align: top;
}

.event-coach-item {
    margin: 20px;
}

.event-coach-image {
    width: auto;
    height: 200px;
    margin: 0 0 20px 0;
}

.booking-link {
    color: #FFFFFF;
    background: #b1123d;
    display: inline-block;
    padding: 7px 15px 7px 15px;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 2px #9a1035 solid;
}

.booking-link:hover {
    color: #FFFFFF;
    background: #9a1035;

}

.event-page-title {
    margin: 20px 0 20px 0;
}

.profile_header {
    margin: 40px 0 20px 0;
}

.profile {
    padding: 50px;
    font-family: 'ProximaNova', Arial, sans-serif;
}

.media-list {
    padding: 0;
}

.profile_info {
    font-family: 'ProximaNova', Arial, sans-serif;
    text-align: left;
}

.profile_info li {
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    font-family: 'ProximaNova', Arial, sans-serif;
}

.change {
    text-align: center;
    padding-top: 10px;
}

.profile_refactor {
    display: block;
    text-align: center;
    width: 350px;
    margin: auto;
    color: #FFFFFF;
    background: #b1123d;
    padding: 7px 15px 7px 15px;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 2px #9a1035 solid;
    font-weight: bold;
    max-width: 100%;
}

.profile_refactor:hover {
    color: #FFFFFF;
    background: #9a1035;
}

.img_ava_block {
    width: 150px;
    height: 150px;
    background: #eeeeee;
    display: inline-block;
    align-items: center;
    justify-content: center
}

.img_ava_block img {
    max-width: 100%;
    max-height: 100%;
}

.profile-event img {
    width: 64px;
}

.gallery_img {
    width: 180px;
    height: auto;
}

#gallery_album {
    margin-top: 50px;
}

#gallery_album img{
    height: 200px;
    width: auto;
}

#gallery_description {
    font-size: 16px;
    line-height: 25px;
}

.limit {
    color: #3b3b1f;
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

.booking-disabled {
    background: grey;
    display: inline-block;
    padding: 8px 15px 9px 15px;
    font-size: 12px;
}

#booking-disabled-page {
    margin-left: 50px;
}

.userImage {
    width: 30px;
}

.limit_slider {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.cancel-btn {
    border: none;
    float: right;
    margin-right: 8%;
}

.paid {
    color: #009900;
}

.notPaid {
    color: #9a1035;
}

.link_social {
    font-size: 25px;
    color: #333;
    margin-left: 5px;
    line-height: 1;
}

.link_social_footer {
    font-size: 25px;
    color: #fff;
    margin-left: 5px;
    line-height: 1;
}

.gallery-image-item {
    margin-bottom: 10px;
    height: 200px;
    max-width: 100%;
    overflow: hidden;
}

.gallery-image-item img {
    height: 200px;
    width: auto;
}

@media (max-width: 768px) {
    .item-page {
        padding-left: 15px;
        padding-bottom: 0;
    }

    .sidebar-menu-title {
        margin: 20px 0;
    }
}

#review-control-next{
    margin-right: 20px;
}

#video-control-next{
    margin-right: 40px;
}

/*

   Styles for animated modal
   =========================

*/

/* Start state */
.animated-modal {
    max-width: 550px;
    border-radius: 4px;
    overflow: hidden;

    transform: translateY(-50px);
    transition: all .7s;
}

.animated-modal h2,
.animated-modal p {
    transform: translateY(-50px);
    opacity: 0;

    transition-property: transform, opacity;
    transition-duration: .4s;
}

/* Final state */
.fancybox-slide--current .animated-modal,
.fancybox-slide--current .animated-modal h2,
.fancybox-slide--current .animated-modal p {
    transform: translateY(0);
    opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .animated-modal h2 {
    transition-delay: .1s;
}

.fancybox-slide--current .animated-modal p {
    transition-delay: .3s;
}

.program-btn {
    color: #FFFFFF;
    background: #0d6aad;
    display: inline-block;
    padding: 7px 15px 7px 15px;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 2px #0c5460 solid;
}

.program-btn:hover {
    color: #FFFFFF;
    background: #0c5460;
}

.position-icon {
    position: relative;
}

.item_links {
    margin: 12px 0;
}

.scroll {
    overflow-x: scroll;
    padding-bottom: 30px;
    white-space: nowrap;
}
.scroll::-webkit-scrollbar {
    width: 12px;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.9);
}

.text-item-scroll{
    height: 70px;
    white-space: normal;
}

.slider-text{
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}



@media screen and (max-width:768px){
    .content .sidebar{
        order: 2;
    }
    .content .item-page{
        order: 1;
    }
}

@media screen and (max-width:768px){
    .content_background .sidebar-menu-profile{
        order: 2;
    }
    .content_background .profile{
        order: 1;
    }
}

@media screen and (max-width:768px){
    .sidebar-menu-profile{
        order: 2;
    }
    .user_events{
        order: 1;
    }
}

@media screen and (max-width:768px) {
    .main-slider{
        display: none;
    }
}

@media screen and (max-width:768px) {

    #review-control-next{
        margin-right: 0;
    }
    #video-control-next{
        margin-right: 0;
    }
}

.sidebar_profile {
    background: url('../images/sidebar-bg.png');
}