{% if events == true %}

    {% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}
    <div class="container">
        <h3><a href="{{ path('app-dynamic-page', {'route':'events'}) }}" class="text-white">Мероприятия</a></h3>
        <div class="scroll">
            {% for key, event in events %}
                <div class="item col-md-12 col-lg-4 event-item">
                    <div class="event-right">
                        <div class="event-type">
                            {{ event.categories[0].name }}
                        </div>
                    </div>
                    <div class="event-head">
                        <div class="event-date">
                            <div class="day">{{ event.eventStart|date('d') }}</div>
                            <div class="month-year">{{ mnths[event.eventStart|date("n")] }}
                                <br>{{ event.eventStart|date('Y') }} </div>
                        </div>
                    </div>

                    <div class="image_wrapper">
                        <img class="event-img" src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="">
                    </div>
                    <div class="text-item-scroll">
                        <h5>{{ event.eventName }}</h5>
                        <p>{{ event.shortDescription | truncate(50) }}
                    </div>
                    {% if event.orderLimit > 0 %}
                        <div class="limit_slider">
                            <p> Осталось {{ event.orderLimit }} мест </p>
                        </div>
                    {% else %}
                        <div class="limit_slider">
                            <p> Не осталось мест </p>
                        </div>
                    {% endif %}
                    <div class="event-buttons-wrapper">
                        <a href="{{ path('app_events_single',{'id': event.id}) }}" id="more-info-{{ event.id }}"
                           class="event-buttons yellow-button">Подробнее</a>


                        {% if event.orderLimit > 0 %}
                            {% if event.eventEnding > date() %}
                                <a id="booking-{{ event.id }}" class="event-buttons green-button"
                                   href="{{ path('app_events_booking',{'id': event.id}) }}">Зарегистрироваться</a>
                            {% else %}
                                <p class="event-buttons yellow-button" id="booking-disabled-page"> Набор завершен</p>
                            {% endif %}
                        {% else %}
                            <p class="booking-disabled"> Набор завершен</p>


                        {% endif %}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endif %}
