<li>
    <a id="breadcamp-homepage" href="{{ path('homepage') }}">Главная страница</a>
    <span class="breadcrumbs-separator"> — </span>
</li>
{% for link in links %}
    <li>
        <span>
            <a id="breadcamp-{{ link.id }}"
               href="{{ path('app-dynamic-page',{'route': link.route}) }}">{{ link.title }}</a>
            <span class="breadcrumbs-separator"> — </span>
        </span>
    </li>
{% endfor %}
