{% extends 'base.html.twig' %}


{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                {{ include('single_page_parts/sidebar.html.twig') }}
                <div class="item-page col-md-9 pt-4">
                    <h1 class="pt-4 pb-2">Поиск</h1>

                    <p>{{ error }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

