    <div class="row" id="gallery_album">
        {% for one_gallery in gallery %}

            <div class="col-4">
                {% for one_image in images %}

                <a href="{{ path('app_gallery_image', {'id': one_gallery.id}) }}">
                    {% if one_image.gallery.id == one_gallery.id %}
                        <img class="gallery_img" src="{{ vich_uploader_asset(one_image.image, 'imageFile') }}"
                             alt="image">
                    {% endif %}
                    {% endfor %}
                    <div class="card-body">
                        <h6 class="card-title">{{ one_gallery.albumName }}</h6>
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>
