{% extends 'base.html.twig' %}

{% block title %}{{ album_name }}{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                {{ include('single_page_parts/sidebar.html.twig') }}
                <div class="item-page col-md-9">
                    <div class="breadcrumbs">
                        <ul>
                            {{ include('single_page_parts/breadcamps.html.twig') }}
                            <li>
                                   <span id="breadcamp-active-page">
                                        {{ album_name }}
                                  </span>
                            </li>
                        </ul>

                        <div class="card-body">
                            <h2>{{ album_name }}</h2>
                            <h6 class="card-title" id="gallery_description">{{ description | raw }}</h6>
                        </div>

                        <div class="row" id="gallery_album">

                            {% for one_image in images %}
                                <div class="col-md-4 col-sm-12 gallery-image-item text-center">

                                    <a data-fancybox="gallery"
                                       href="{{ vich_uploader_asset(one_image.image, 'imageFile') }}"><img
                                                class="gallery_img"
                                                src="{{ vich_uploader_asset(one_image.image, 'imageFile') }}"
                                                alt="image"></a>


                                </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
