{% for single_coach in coach %}
    <div class="module-page-item">
        <div class="row">
            <div class="col-lg-3">
                <div class="wrapper">
                    <img class='module-page-image' src="{{ vich_uploader_asset(single_coach, 'imageFile') }}"/>
                </div>
            </div>
            <div class="col-lg-9">
                <p class="module-page-name text-lg-left text-sm-center">{{ single_coach.fullname }}</p>
                <p class="module-page-description">{{ single_coach.shortDescription }}</p>
                <a class="module-page-more" href="{{ path('app_coach_single', {'id':single_coach.id}) }}">Подробнее</a>
            </div>
        </div>
    </div>
{% endfor %}