<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="{% block description %}{{ app.session.get('mainPageDescription') }}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/font-awesome/css/fontawesome-all.min.css') }}">
        <script src="{{ asset('vendor/jquery/jquery-3.3.1.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="login-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Вход на сайт</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="login-error"></div>
                    <div class="form-group">
                        <label for="json-username">Почтовый ящик</label>
                        <input class="form-control" type="text" id="json-username" name="json-username"/>
                    </div>
                    <div class="form-group">
                        <label for="json-password">Пароль</label>
                        <input class="form-control" type="password" id="json-password" name="json-password"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="json-login-send" type="button" class="btn btn-dark">Войти</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>

    <header>
        <div class="container">
            <div class="row">
                <div class="logo col-lg-4 col-md-6 col-sm-12">
                    <a id="app_homepage" href="{{ path('homepage') }}">
                        <img src="{{ asset ('images/logo.png') }}" alt="logo"/>
                    </a>
                </div>
                <div class="search col-lg-4 col-md-6 col-sm-12 text-center">
                    <form id="app-search" action="{{ path('app_search') }}">
                        <input name="word" type="text" placeholder="Найти" class="form-control"/>
                    </form>
                </div>
                <div class="header-right col-lg-4 col-sm-12">
                    <div class="row">
                        <div class="networks-block col-lg-4 col-md-5 col-sm-12 text-md-left text-center">
                            <ul class="bullet">
                                <li class="networks__item"><a class="link_social" target="_blank"
                                                              href="{{ app.session.get('fc') }}"><i
                                                class="fab fa-facebook-square"></i></a></li>
                                <li class="networks__item"><a class="link_social" target="_blank"
                                                              href="{{ app.session.get('vk') }}"><i
                                                class="fab fa-vk"></i></a></li>
                                <li class="networks__item"><a class="link_social" target="_blank"
                                                              href="{{ app.session.get('is') }}"><i
                                                class="fab fa-instagram"></i></a></li>
                                <li class="networks__item"><a class="link_social" target="_blank"
                                                              href="{{ app.session.get('tw') }}"><i
                                                class="fab fa-twitter"></i></a></li>
                            </ul>
                        </div>
                        <div class="login-block col-lg-6 col-md-7 col-sm-12 text-md-right text-center">
                            <ul>
                                {% if is_granted("ROLE_USER") %}
                                    <li>
                                        <a id="app_profile" href="{{ path('app_profile') }}" class="login-button">
                                            <span class="login-link">Профиль</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="app_logout" href="{{ path('fos_user_security_logout') }}"
                                           class="login-button">
                                            <span class="login-img"></span>
                                            <span class="login-link">Выйти</span>
                                        </a>
                                    </li>

                                {% else %}
                                    <li>
                                        <a id="app_register" href="{{ path('fos_user_registration_register') }}"
                                           class="login-button">
                                            <span class="login-link">Регистрация</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="app_login" href="{{ path('fos_user_security_login') }}"
                                           class="login-button"
                                           data-toggle="modal" data-target="#login-modal">
                                            <span class="login-img"></span>
                                            <span class="login-link">Войти</span>
                                        </a>
                                    </li>

                                {% endif %}
                            </ul>

                        </div>
                    </div>

                </div>
                {{ render(controller(
                'App\\Controller\\NavigationController::showNavigationAction'
                )) }}
            </div>
        </div>
    </header>



    {% set notices = app.flashes('notice') %}
    {% set errors = app.flashes('error') %}

    {% if notices %}

        {% for message in notices %}
            <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Поздравляем!</h5>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if errors %}
        {% for message in errors %}
            <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ошибка!</h5>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}


    <footer>
        <div class="container">
            {{ render(controller(
            'App\\Controller\\NavigationController::showFooterNavigationAction'
            )) }}
            <div class="bottom-info row">
                <div class="copyright col-md-6">
                    <p class="pl-3">Интерактив консалтинговый центр, 2014-2018</p>
                </div>
                <div class="position-icon bottom-networks col-md-6">
                    <div class="network-buttons">
                        <ul class="position_icon_link bullet pr-3 pl-3 text-md-right">
                            <li class="networks__item"><a class="link_social_footer" target="_blank"
                                                          href="{{ app.session.get('fc') }}"><i
                                            class="fab fa-facebook-square"></i></a></li>
                            <li class="networks__item"><a class="link_social_footer" target="_blank"
                                                          href="{{ app.session.get('vk') }}"><i
                                            class="fab fa-vk"></i></a></li>
                            <li class="networks__item"><a class="link_social_footer" target="_blank"
                                                          href="{{ app.session.get('is') }}"><i
                                            class="fab fa-instagram"></i></a></li>
                            <li class="networks__item"><a class="link_social_footer" target="_blank"
                                                          href="{{ app.session.get('tw') }}"><i
                                            class="fab fa-twitter-square"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('vendor/popper/js/popper.min.js') }}"></script>
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/login_modal.js') }}"></script>

    <script>$('#myModal').modal('show')</script>
{% endblock %}
</body>
</html>


