
{% block body %}



    <div style="background: #CCCCCC;padding: 20px">
        <div class="container" style="background: #f6f6f6; padding: 15px">
            <p style="font-size: 30px">Interactive</p>
                <br>Пользователь с логином - {{ user.username }} , отписался от мероприятия
                <br><span style="color:blueviolet"><a href="{{ send_event_url }}" >{{ booking.event.event.eventName }}</a>
                <br>{{ booking.event.name }} </span>
            <ul>
                <li>Ф.И.О - {{ user.fullName }}</li>
                <li>ID пользователя - {{ user.id }}</li>
                <li>Телефон - {{ user.phoneNumber }}</li>
                <li>Тип - {{ user.clientType }}</li>
                <li>Организация - {{ user.organizationName }}</li>
            </ul>

            <p><a href="{{ home_url }}" style="border-radius: 3px; color: #f6f6f6; text-decoration: none; border: 1px solid; background: #1295bf; padding: 5px 10px">Перейти в админ панель</a></p>
        </div>
    </div>
{% endblock %}

{# Makes an absolute URL to the /images/logo.png file #}
