{% extends "base.html.twig" %}

{% block body %}{% trans_default_domain 'FOSUserBundle' %}
    <div class="container">
        <div class="login-block m-auto" style="min-width: 50%; max-width: 400px;">
            <h1 class="mt-5">Авторизация</h1>
            {% if error %}
                <div class="login-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" id="csrf_token" />
                {% endif %}

                <br/>
                <label for="username">Почтовый ящик</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />

                <br/>
                <label for="password">Пароль</label>
                <input type="password" id="password" name="_password" required="required" class="form-control" />

                <br/>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                <div class="control-group text-right">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>


{% endblock body %}
