{% for video in videos %}
    <div class="module-page-item">
        <div class="row">
            <div class="col-md-9">
                <iframe width="350" height="250" src="https://www.youtube.com/embed/{{ video.link }}" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endfor %}


