{% if videos == true %}

    <h3><a href="{{ path('app-dynamic-page', {'route':'video-gallery'}) }}">Видео галерея</a></h3>
    <div class="video-slider">
        <div id="videoSlider" class="carousel" data-interval="false">
            <div class="carousel-inner">
                {% for key, video in videos %}
                    <div class="carousel-item {% if key == 0 %} active {% endif %}">
                        <div class="col-md-8 videogallery-item">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/{{ video.link }}" frameborder="0"
                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <a class="carousel-control-prev" href="#videoSlider" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#videoSlider" role="button" data-slide="next" id="video-control-next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <script src="{{ asset('js/sliderVideoGalleryOnMain.js') }}"></script>
        </div>
    </div>


{% endif %}